/**
* Add the eli class to a parent, then all the child elements will be styled accordingly, or use the eli- classes directly
**/
%eli-font-rules{
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
    line-height: 1.3;
}

.eli{
    .underline{
        border-bottom: 1px solid $color-border;
    }

    h1,h2,h3,h4,h5,h6,p,li,span,ol,input,a,{
        @extend .eli-reset;
        @extend %eli-font-rules;

        &--secondary{
            @extend .eli-reset;
            @extend %eli-font-rules;
        }
    }

    h1,h2,h3,h4,h5,h6{
        color: $color-h;
        font-weight: 700;

        .secondary{
            color: $color-h-secondary;
            font-weight: 700;
        }
    }

    h1 {
        font-size: 4.242rem;
    }

    h2 {
        font-size: 2.828rem;
    }

    h3 {
        font-size: 1.414rem;
    }

    h4 {
        font-size: 0.707rem;
    }

    h5 {
        font-size: 0.4713333333333333rem;
    }

    h6 {
        font-size: 0.3535rem;
    }

    p,li,span,ol,input{
        color: $color-text;

        &--secondary{
            color: $color-text-secondary;
        }
    }

    a{
        color: $color-link;
        text-decoration: none;
    }

    p{
        font-size: 1rem;
        margin-bottom: 9px;

        &:last-of-type{
            margin-bottom: 0;
        }
    }

    /* Tables */
    table{
        margin-top: 1.5rem;
        border-spacing: 0px;
        border-collapse: collapse;

        td,
        th{
            padding: 0;
            line-height: 33px;
        }
    }

    /* Code blocks */
    code {
        vertical-align: bottom;
    }
}

.eli{
    .eli-{
        &-underline{
            border-bottom: 1px solid $color-border;
        }

        &h1,&h2,&h3,&h4,&h5,&h6,&p,&li,&span,&ol,&input,&a,{
            @extend .eli-reset;
            @extend %eli-font-rules;
            
            &--secondary{
                @extend .eli-reset;
                @extend %eli-font-rules;
            }
        }

        &h1,&h2,&h3,&h4,&h5,&h6{
            color: $color-h;
            font-weight: 700;

            &--secondary{
                color: $color-h-secondary;
                font-weight: 700;
            }
        }

        &h1 {
            font-size: 4.242rem;
        }

        &h2 {
            font-size: 2.828rem;
        }

        &h3 {
            font-size: 1.414rem;
        }

        &h4 {
            font-size: 0.707rem;
        }

        &h5 {
            font-size: 0.4713333333333333rem;
        }

        &h6 {
            font-size: 0.3535rem;
        }

        &p,&li,&span,&ol,&input{
            color: $color-text;

            &--secondary{
                color: $color-text-secondary;
            }
        }

        &a{
            color: $color-link;
            text-decoration: none;
        }

        &p{
            font-size: 1rem;
            margin-bottom: 9px;

            &:last-of-type{
                margin-bottom: 0;
            }
        }

        /* Tables */
        &table{
            margin-top: 1.5rem;
            border-spacing: 0px;
            border-collapse: collapse;

            td,
            th{
                padding: 0;
                line-height: 33px;
            }
        }

        /* Code blocks */
        &code {
            vertical-align: bottom;
        }
    }
}

/* Leading paragraph text */
p.eli-lead{
    font-size: 1.2rem;
}